*{
    margin:0;
    padding:0;
}

header nav{
    top:0;
}
#about::before{
    content:"";
    background:linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.4)),url('./alex-kotliarskyi-QBpZGqEMsKg-unsplash.jpg') no-repeat center center/cover;
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1; 
     opacity:0.89;
    top:0px;
    /* bottom:0px; */


}
#about{
    display:flex;
    flex-direction: column;
    padding:3px 200px;
    height:450px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    color:#fff;
    margin-bottom: 0px;

}
#about h2{
    font-size: 40px;
}
#about p{
    text-align: center;
}

#work{
    margin:0;
}

.container{
    display:flex; 

}
.card{
    height:300px;
    margin:50px;
    box-shadow: 5px 5px 20px black;
    overflow:hidden;
}
.card img{
    height:300px;
    width:350px;
    border-radius:3px;
    transition: trasform 0.5s;
}

.intro{
    height:170px;
    width:322px;
    padding:6px;
    box-sizing:border-box;
    position:absolute;
    top:857px;
    background: rgb(27,27,27,0.4);
    color:white;
    transition-property:transform 0.5s;
}

.intro h2{
    margin:10px;
    font-size:20px;

}
.intro p{

    font-size:15px;
    margin: 10px;
    visibility: hidden;
    opacity:0;
}
.intro span{
    font-weight:bold;
}

.card:hover{
    cursor:pointer;
}

.card:hover .intro{
    height:170px;
    bottom:240px;
    background: black;
}
.card:hover p{
    visibility: visible;
    opacity: 1;
}

.card:hover img{
    transform:scale(1.3) rotate(-3deg);
}


.positions h2{
 
  font-size: 50px;
  font-weight: 700;
  color: #553c9a;
  text-align: center;
  text-shadow: 2px 2px bisque;
  margin:20px 0 20px 30px;
  
}
#team .positions{
    
    background-color: #fff;
    display:flex;
    flex-direction: column;
    
}

.item{
   
    margin:30px;
    padding:0;
    display:flex;

}
.if{
    padding:60px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    background-color: #f2f2f2;
    margin:70px 30px 30px 60px;
    box-shadow: 5px 5px 20px black;
    border-radius:6px;
}
#e1{
    margin-bottom:40px;
    margin-left:70px;
}
#e2{
    display:flex;
    flex-direction: row-reverse;
    margin-top:90px;
    margin-right:110px;
}
#e2 .if{
    margin:70px 60px 30px 0px;
}
#e2 img{
    height:400px;
    width:350px;
}
.item img{
    height:400px;
    width:350px;

}



footer{
    background-color: #333;
}