body{
    margin:0;
    padding:0;
    top:0;
    left:0;
    font-family: 'Roboto' ,sans-serif;
}

header nav{
    top:0;
}

#sec1{
    display:flex;
    flex-direction: row;
    margin:80px;
    margin-top:150px;

    

}
#sec1 h2{
    margin:30px;

}
.im1{
    display: flex;
    margin-left:auto;
    

}
.im1 img{
    height:390px;
    width:490px;
    
}
.fm{
    background-color:#067bf0;
    border-radius:5px;
    color:#fff
    
}
.fm form{
    padding:20px;
    margin:0 20px 0 20px;
}
.fm form label{
  margin-right:30px;
  font-size:20px;
}
.fm h2{
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Roboto' ,sans-serif;
    font-weight: 100;
    font-size: 34px;
}
.enq{
    margin-bottom: 34px;
}
input[type="text"]{
    padding:10px;
    border-radius: 4px;
}
#e1 label{
    margin-right: 55px;
}
#e2 label{
    margin-right:60px;
}

.fm input[type="submit"]{
    width:100%;
    padding:10px;
    background-color: #324AB2;
    color:white;
    border:none;
    border-radius:5px;
}

.bn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#sec2{
    
    width:80%;
    margin:80px;
}

#sec2 h2{
    margin:30px 0 10px 20px;
    font-size: 40px;
  font-weight: 600;
  background-image: linear-gradient(to left,#0047AB, #00BFFF);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
 
}

#sec2 .res{
    margin:10px 0 40px 20px;
}

.listres{
    list-style-type: none;
    border:4px solid #0000FF;
    margin:20px 30px 40px 0;
    padding:40px;
   display: flex;
    background-color: #7CB9E8;
}
.listres .info{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.info h3{
    margin-bottom: 20px;
}

.imgc img{
    height:200px;
    width:200px;
}
.imgc{
    margin-left: auto;
}

.footer{
    background-color:  #324AB2;
}
footer{
    background-color:#333;
}